@import "./variables/colors";
@import "./base/base";

@import "./pages/main-section";
@import "./pages/navigation";
@import "./pages/about-section";
@import "./pages/news-section";
@import "./pages/blog-section";
@import "./pages/quick-action-area";
@import "./pages/keyfeature-section";
@import "./pages/team-section";
@import "./pages/contact-section";
@import "./pages/map-section";
@import "./pages/footer";
