// BASE Colors
$base-text-color: #222222;

// Navigation Colors
$color-navigation-links: #ffffff;
$color-navigation-social-links: #ffffff;
$color-navigation-links-hover: #11749e;
$color-main-heading: #ffffff;
$color-main-secondary-heading: #11749e;
$color-scroll-down: #ffffff;
$color-main-heading-arrow-down: #ffffff;
$color-navigation-social-links-hover: #11749e;
$navigation-bottom-border-color: #ffffff7a;
$navigation-circle-border-color: #ffffff;

// About Section Colors
$color-about-section-bg: #11749e;
$color-about-section-big-letter: #5993b2;
$color-about-section-secondary-heading: #ffffff;
$text-color-features-figure: #ffffff;
$color-about-section-ciricle: #5993b2;

//Blog Section Colors
$color-blog-figcaption-title: #11749e;
$color-blog-section-big-letter: #e2e2e2;

//News Section Colors
$color-news-section-first-figure-bg: #222222;
$text-color-news-section-frist-figure: #ffffff;

//Quick Action Colors
$background-clor-quick-action-section: #11749e;
$text-color-quick-action-section-figure: #ffffff;

//Keyfrature Section
$text-color-keyfeature-section__content-article: #ffffff;
$features-bg-color: #11749e;

// Team Section Colors
$team-section-big-letter: #d7d7d7;
$background-color-team-section-figcaption: #ffffff;
$team-section-figcaption-name: #11749e;
$team-section-figcaption-profesion: #222222;

// Contact Section Colors
$contact-main-heading-color: #ffffff;
$contact-big-letter-color: #454642;
$form-input-border-color: #ffffff;
$form-input-placeholder-color: #ffffff;
$form-message-border-color: #ffffff;
$form-message-placeholder-color: #ffffff;
$form-btn-color: #11749e;
$form-btn-text-color: #ffffff;

//Footer
$footer-bg-color: #222222;
