/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 738px;
  background-color: $color-about-section-bg;
}

.about-section__main-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  z-index: 1;
}

.about-section__main-heading-big-letter {
  position: absolute;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 265px;
  z-index: -1;
  color: $color-about-section-big-letter;
}

.about-section__secondary-heading {
  font-family: "Gotham-Book";
  text-transform: uppercase;
  font-size: 37.55px;
  color: $color-about-section-secondary-heading;
}

.about-section__features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  padding: 0 11.3%;
}

.about-section__features-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gotham-Book";
  width: 285px;
  color: $text-color-features-figure;
}

.about-section__features-figure-picture {
  display: flex;
  justify-content: center;
  height: 133px;
  width: 133px;
  border-radius: 50%;
  background-color: $color-about-section-ciricle;
}

.about-section-features-figure-image {
  object-fit: contain;
}

.about-section-figure-figcaption {
  text-align: center;
}

.about-section-figure-figcatption-title {
  text-transform: uppercase;
  padding: 20px 0;
  letter-spacing: 2px;
}

.about-section-figure-figcatption-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
}
