/*------------------------------------*\
  #CONTACT SECTION
\*------------------------------------*/

.contact-section {
  position: relative;
  height: 851px;
  z-index: 1;
}

.contact-section__picture {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.contact-section__picture-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 215px;
}

.contact-section__main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  color: $contact-main-heading-color;
}
.contact-section__main-heading-big-letter {
  position: absolute;
  font-size: 260px;
  color: $contact-big-letter-color;
  z-index: -1;
}

.contact-section__secondary-heading {
  text-transform: uppercase;
  font-size: 34.55px;
}

.contact-section__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.contact-section__form-inputs {
  display: flex;
  justify-content: space-between;
}

.contact-section__form-input {
  background-color: transparent;
  border: 1.5px solid $form-input-border-color;
  width: 370px;
  height: 48px;
  margin-bottom: 30px;

  &:focus {
    outline: none;
    color: white;
    padding-left: 20px;
  }
  &::placeholder {
    padding-left: 20px;
    color: $form-input-placeholder-color;
    font-size: 16px;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.contact-section__form-message {
  background-color: transparent;
  border: 1.5px solid $form-message-border-color;
  resize: none;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  color: $form-message-placeholder-color;

  &:focus {
    outline: none;
    color: $form-input-placeholder-color;
    padding-left: 20px;
    padding-top: 20px;
  }

  &::placeholder {
    font-family: "Roboto", "san-sarif";
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    color: $form-message-placeholder-color;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.contact-section__form-btn {
  align-self: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: $form-btn-text-color;
  font-family: "Roboto", "san-sarif";
  letter-spacing: 2px;
  width: 227px;
  height: 64px;
  font-size: 16px;
  background-color: $form-btn-color;
}
