/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

header {
  display: flex;
  flex-direction: column;
  background-image: url("/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 880px;
}

.header__navigation {
  display: flex;
  align-items: center;
  height: 116px;
  padding: 0 11.3%;
  border-bottom: 2px solid $navigation-bottom-border-color;
}

.header__navigation-logo {
  display: flex;
  object-fit: scale-down;
  object-position: left;
  width: 23%;
  height: 100%;
}

.header__navigation-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 60%;
  height: 100%;
}
.header__navigation-menu-item {
  height: 100%;
}

.header__navigation-menu-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-navigation-links;
  height: 100%;
  transition: all ease-in-out;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.2s ease-in-out;

  &:hover {
    border-bottom: 4px solid $color-navigation-links-hover;
  }
}

.header__navigation-social-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 17%;
}

.header__navigation-social-links-list-item-link {
  color: $color-navigation-social-links;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-navigation-social-links-hover;
  }
}
