/*------------------------------------*\
  #BASE
\*------------------------------------*/
@font-face {
  font-family: "Gotham-Book";
  src: url("/scss/fonts/GothamBookFont.otf");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("/scss/fonts/GothamBold.otf");
}
@font-face {
  font-family: "Gotham-Medium";
  src: url("/scss/fonts/GothamMedium.otf");
}

html::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  color: $base-text-color;
}
